<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>新建海报活动</title>


    <link rel="shortcut icon" href="favicon.ico">
    <link href="__PUBLIC__/H/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="__PUBLIC__/H/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/H/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__PUBLIC__/H/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/H/css/style.min.css?v=4.0.0" rel="stylesheet">
    <link href="__PUBLIC__/magic-check/magic-check.css" rel="stylesheet">
    <link href="__PUBLIC__/Validform/style.css" rel="stylesheet">

    <script src="__PUBLIC__/H/js/jquery.min.js?v=2.1.4"></script>


    <style>
        .laydate-icon {
            width: 242px;
            height: 30px;
        }

        .magic-radio + label,
        .magic-checkbox + label {
            display: inline;
        }

        .magic-checkbox:checked + label:before {
            border: #3e97eb;
            background: #2E8B57;
        }

        .laydate_body .laydate_y .laydate_yms ul li {
            width: 58px;
        }
    </style>

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">


    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>新建海报活动</h3>
                    <!--<div class="ibox-tools">-->
                    <!--<a class="collapse-link">-->
                    <!--<i class="fa fa-chevron-up"></i>-->
                    <!--</a>-->
                    <!--<a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">-->
                    <!--<i class="fa fa-wrench"></i>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu dropdown-user">-->
                    <!--<li><a href="form_basic.html#">选项1</a>-->
                    <!--</li>-->
                    <!--<li><a href="form_basic.html#">选项2</a>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--<a class="close-link">-->
                    <!--<i class="fa fa-times"></i>-->
                    <!--</a>-->
                    <!--</div>-->
                </div>

                <form class="form-horizontal demoform" action="{:U('Admin/Poster/addPoster')}" method="post"
                          enctype="multipart/form-data">
                <div class="ibox-content">
                    <div class="form-horizontal m-t" id="signupForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">活动名称：</label>
                            <div class="col-sm-5" style="font-size: 15px;padding-top: 5px;">
                                <input id="wx_ptc_name" name="wx_ptc_name" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">活动开始时间：</label>
                            <div class="col-sm-5" style="font-size: 15px;padding-top: 5px;">
                                <input type="datetime-local" id="wx_ptc_start_time" name="wx_ptc_start_time"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">活动结束时间：</label>
                            <div class="col-sm-5" style="font-size: 15px;padding-top: 5px;">
                                <input type="datetime-local" id="wx_ptc_end_time" name="wx_ptc_end_time"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">活动状态：</label>
                            <div class="col-sm-5" style="font-size: 15px;padding-top: 5px;">
                                <input type="radio" checked name="wx_ptc_status" value="1">开启
                                <input type="radio" name="wx_ptc_status" value="0">关闭
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">公众号：</label>
                            <div class="col-sm-5" style="font-size: 15px;padding-top: 5px;">
                                <select name="wx_ptc_wc_id" id="wx_ptc_wc_id">
                                    <!-- <option value="">请选择</option> -->
                                    <volist name="wx_list" id="vo">
                                        <option value="{$vo.wc_id}"
                                        <in name="vo.wc_id" value="$info.wx_ptc_wc_id"> selected</in>
                                        >
                                        {$vo.wc_name}
                                        </option>
                                    </volist>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">公众号二维码(尺寸：205*206)：</label>
                            <div class="col-sm-5" style="font-size: 15px;padding-top: 5px;">
                                <input type="file" name="wx_ptc_wc_qr"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">海报图片(尺寸：800*1447)：</label>
                            <div class="col-sm-5" style="font-size: 15px;padding-top: 5px;">
                                <input type="file" name="wx_poster_url"/>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit" id="login">新建</button>
                            </div>
                        </div>

                    </div>
                </div>
                </form>


            </div>
        </div>
    </div>
</div>


<script src="__PUBLIC__/H/js/bootstrap.min.js?v=3.3.5"></script>
<script src="__PUBLIC__/H/js/content.min.js?v=1.0.0"></script>
<script src="__PUBLIC__/H/js/plugins/iCheck/icheck.min.js"></script>
<script src="__PUBLIC__/laydate/laydate.js"></script>

<script src="__PUBLIC__/Validform/Validform_v5.3.2_min.js"></script>

<script src="__PUBLIC__/plugins/layer/layer.js"></script>


<script>
    // $("button").click(function () {
    //     if ($("#wx_ptc_name").val() == "") {
    //         layer.alert("请输入活动名称！");
    //         return false;
    //     }
    //     if ($("#wx_ptc_start_time").val() == "") {
    //         layer.alert("请输入活动开始时间！");
    //         return false;
    //     }
    //     if ($("#wx_pt_end_time").val() == "") {
    //         layer.alert("请输入活动结束时间！");
    //         return false;
    //     }

    //     $.ajax({
    //         type: "POST",
    //         url: "{:U('/Admin/Poster/addPoster')}",
    //         timeout: 3000,
    //         data: {
    //             wx_ptc_name: $("#wx_ptc_name").val(),
    //             wx_ptc_start_time: $("#wx_ptc_start_time").val(),
    //             wx_ptc_end_time: $("#wx_ptc_end_time").val(),
    //             wx_ptc_status: $("input[name='radio']:checked").val(),
    //             wx_ptc_wc_id: $("#wx_ptc_wc_id").val(),
    //             // wc_encodingaeskey: $("#wc_encodingaeskey").val(),
    //         },
    //         success: function (data) {
    //             if (data.status == 99) {
    //                 layer.alert(data.msg);
    //             } else {
    //                 alert(data.msg);
    //                 location.reload();

    //             }
    //         },
    //         error: function () {
    //             layer.msg('网络开小差，请稍后再试！');
    //         }
    //     });
    // });
</script>

</body>

</html>