<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>账号添加</title>

    
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__PUBLIC__/H/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="__PUBLIC__/H/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/H/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__PUBLIC__/H/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/H/css/style.min.css?v=4.0.0" rel="stylesheet">
    <link href="__PUBLIC__/magic-check/magic-check.css" rel="stylesheet">
    <link href="__PUBLIC__/Validform/style.css" rel="stylesheet">

    <script src="__PUBLIC__/H/js/jquery.min.js?v=2.1.4"></script>




    <style>
        .laydate-icon {
            width: 242px;
            height: 30px;
        }
        .magic-radio + label,
        .magic-checkbox + label {
            display:inline;
        }
        .magic-checkbox:checked + label:before {
            border: #3e97eb;
            background: #2E8B57;
        }
        .laydate_body .laydate_y .laydate_yms ul li{
            width: 58px;
        }
    </style>

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">


    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                            <h3>公众号添加</h3>
                    <!--<div class="ibox-tools">-->
                        <!--<a class="collapse-link">-->
                            <!--<i class="fa fa-chevron-up"></i>-->
                        <!--</a>-->
                        <!--<a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">-->
                            <!--<i class="fa fa-wrench"></i>-->
                        <!--</a>-->
                        <!--<ul class="dropdown-menu dropdown-user">-->
                            <!--<li><a href="form_basic.html#">选项1</a>-->
                            <!--</li>-->
                            <!--<li><a href="form_basic.html#">选项2</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                        <!--<a class="close-link">-->
                            <!--<i class="fa fa-times"></i>-->
                        <!--</a>-->
                    <!--</div>-->
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal m-t" id="signupForm" >
                        <div class="form-group">
                            <label class="col-sm-3 control-label">公众号名称：</label>
                            <div class="col-sm-5"  style="font-size: 15px;padding-top: 5px;">
                                <input id="wc_name" name="wc_name" class="form-control" type="text"  >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">公众号标识：</label>
                            <div class="col-sm-5"  style="font-size: 15px;padding-top: 5px;">
                                <input id="wc_code" name="wc_code" class="form-control" type="text"  placeholder="用拼音首字母..." >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">appid：</label>
                            <div class="col-sm-5"  style="font-size: 15px;padding-top: 5px;">
                                <input id="wc_appid" name="wc_appid" class="form-control" type="text"  >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">appsecret：</label>
                            <div class="col-sm-5"  style="font-size: 15px;padding-top: 5px;">
                                <input id="wc_appsecret" name="wc_appsecret" class="form-control" type="text"  >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">token：</label>
                            <div class="col-sm-5"  style="font-size: 15px;padding-top: 5px;">
                                <input id="wc_token" name="wc_token" class="form-control" type="text"  >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">encodingaeskey：</label>
                            <div class="col-sm-5"  style="font-size: 15px;padding-top: 5px;">
                                <input id="wc_encodingaeskey" name="wc_encodingaeskey" class="form-control" type="text"  >
                            </div>
                        </div>
              

                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit" id="login">添加</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="__PUBLIC__/H/js/bootstrap.min.js?v=3.3.5"></script>
<script src="__PUBLIC__/H/js/content.min.js?v=1.0.0"></script>
<script src="__PUBLIC__/H/js/plugins/iCheck/icheck.min.js"></script>
<script src="__PUBLIC__/laydate/laydate.js"></script>

<script src="__PUBLIC__/Validform/Validform_v5.3.2_min.js"></script>

<script src="__PUBLIC__/plugins/layer/layer.js"></script>





<script>
    $("button").click(function(){
        if ($("#wc_name").val() == "") { 
            layer.alert("请输入公众号名称！"); 
            return false; 
        }
        if ($("#wc_code").val() == "") { 
            layer.alert("请输入公众号标识！"); 
            return false; 
        }
        if ($("#wc_appid").val() == "") { 
            layer.alert("请输入公众号appid！"); 
            return false; 
        }
        if ($("#wc_appsecret").val() == "") { 
            layer.alert("请输入公众号appsecret！"); 
            return false; 
        }
        if ($("#wc_token").val() == "") { 
            layer.alert("请输入公众号token！"); 
            return false; 
        }
        // if ($("#wc_encodingaeskey").val() == "") { 
        //     layer.alert("请输入公众号encodingaeskey！"); 
        //     return false; 
        // }

        


        $.ajax({
            type: "POST",
            url: "{:U('/Admin/WeChatAccount/AddWechatAccount')}",
            timeout: 3000,
            data: {
                wc_name:$("#wc_name").val(),
                wc_code: $("#wc_code").val(),
                wc_appid:$("#wc_appid").val(),
                wc_appsecret: $("#wc_appsecret").val(),
                wc_token:$("#wc_token").val(),
                wc_encodingaeskey: $("#wc_encodingaeskey").val(),
            },
            success: function (data) {
                if (data.status == 99) {
                     layer.alert(data.msg);
                }else {
                    alert(data.msg);
                    location.reload();
                  
                }
            },
            error: function () {
                layer.msg('网络开小差，请稍后再试！');
            }
        });
    });
</script>

</body>

</html>