<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>翰墨集团—办公管理系统</title>



    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <link rel="shortcut icon" type="image/x-icon" href="__PUBLIC__/img/head.ico" media="screen" />

    <link rel="shortcut icon" href="favicon.ico">
    <link href="__PUBLIC__/H/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="__PUBLIC__/H/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/H/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/H/css/style.min.css?v=4.0.0" rel="stylesheet">
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
<div id="wrapper">
    <!--左侧导航开始-->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close"><i class="fa fa-times-circle"></i>
        </div>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header" style="height: 150px;">
                    <div class="dropdown profile-element">
                        <img alt="image" class="" style="padding-left: 20px;" width="140px" src="__PUBLIC__/css/plugins/login/img/avtar.png" />
                    </div>
                    <div class="logo-element">翰墨教育集团
                    </div>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-edit"></i>
                        <span class="nav-label">录入报名表</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a class="J_menuItem" href="teacher"><i class="glyphicon glyphicon-chevron-right"></i>录入教师证报名表</a>
                        </li>
                        <li>
                            <a class="J_menuItem" href="SelfTest"><i class="glyphicon glyphicon-chevron-right"></i>录入自考报名表</a>
                        </li>
                        <li>
                            <a class="J_menuItem" href="Guide"><i class="glyphicon glyphicon-chevron-right"></i>录入导游证报名表</a>
                        </li>
                        <li>
                            <a class="J_menuItem" href="Mandarin"><i class="glyphicon glyphicon-chevron-right"></i>录入普通话报名表</a>
                        </li>
                        <li>
                            <a class="J_menuItem" href="InserUnder"><i class="glyphicon glyphicon-chevron-right"></i>录入专插本报名表</a>
                        </li>
                        <li>
                            <a class="J_menuItem" href="Hr"><i class="glyphicon glyphicon-chevron-right"></i>录入人力资源报名表</a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="#">
                        <i class="fa fa-table"></i>
                        <span class="nav-label">学生报名表</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a class="J_menuItem" href="teacher/teacherList"><i class="glyphicon glyphicon-chevron-right"></i>教师证学生报名表</a>
                        </li>
                        <li>
                            <a class="J_menuItem" href="SelfTest/selfTestList"><i class="glyphicon glyphicon-chevron-right"></i>自考学生报名表</a>
                        </li>
                        <li>
                            <a class="J_menuItem" href="Guide/guideList"><i class="glyphicon glyphicon-chevron-right"></i>导游证学生报名表</a>
                        </li>
                        <li>
                            <a class="J_menuItem" href="Mandarin/mandarinList"><i class="glyphicon glyphicon-chevron-right"></i>普通话学生报名表</a>
                        </li>
                        <li>
                            <a class="J_menuItem" href="InserUnder/inserUnderList"><i class="glyphicon glyphicon-chevron-right"></i>专插本学生报名表</a>
                        </li>
                        <li>
                            <a class="J_menuItem" href="Hr/HrList"><i class="glyphicon glyphicon-chevron-right"></i>人力资源学生报名表</a>
                        </li>

                    </ul>
                </li>

                <if condition="($Think.session.roleid eq 1) OR ($Think.session.roleid eq 5) ">
                <li>
                    <a href="#">
                        <i class="fa fa fa-bar-chart-o"></i>
                        <span class="nav-label">财务报表</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
						<!-- <li style="display:none;" > -->
                            <!-- <a class="J_menuItem" href="Order/orderList"><i class="glyphicon glyphicon-chevron-right"></i>缴费记录</a> -->
                        <!-- </li> -->
                        <li>
                            <a class="J_menuItem" href="Finance/index"><i class="glyphicon glyphicon-chevron-right"></i>销售额报表</a>
                        </li>
						<li>
                            <a class="J_menuItem" href="Order/otherCerList"><i class="glyphicon glyphicon-chevron-right"></i>其他证书业绩录入</a>
                        </li>

                    </ul>
                </li>
                </if>

                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-cog"></i>
                        <span class="nav-label">修改资料</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a class="J_menuItem" href="Modify/ModifyPwd"><i class="glyphicon glyphicon-chevron-right"></i>密码修改</a>
                        </li>

                    </ul>
                </li>

                <if condition="($Think.session.roleid eq 1) OR ($Think.session.roleid eq 15) ">
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-user"></i>
                        <span class="nav-label">账号管理</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a class="J_menuItem" href="User/AddUser"><i class="glyphicon glyphicon-chevron-right"></i>添加账号</a>
                        </li>

                    </ul>
                </li>
                </if>

                <!--<if condition="($Think.session.roleid eq 1) OR ($Think.session.roleid eq 4) ">-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<i class="glyphicon glyphicon-edit"></i>-->
                            <!--<span class="nav-label">考生excel表导出</span>-->
                            <!--<span class="fa arrow"></span>-->
                        <!--</a>-->
                        <!--<ul class="nav nav-second-level">-->
                            <!--<li>-->
                                <!--<a class="J_menuItem" href="teacher/teacherList">教师证考生表导出</a>-->
                            <!--</li>-->

                        <!--</ul>-->
                    <!--</li>-->
                <!--</if>-->

            </ul>
        </div>
    </nav>
    <!--左侧导航结束-->

    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header"><a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    <!--<form role="search" class="navbar-form-custom" method="post" action="search_results.html">-->
                        <!--<div class="form-group">-->
                            <!--<input type="text" placeholder="输入需要查找的学生手机号 …" class="form-control" name="top-search" id="top-search">-->
                        <!--</div>-->
                    <!--</form>-->

                </div>

                <div class="form-group" style="text-align: right; padding-right: 20px; padding-top: 15px;">
                    <h4>你好，{$Think.session.username}</h4>
                </div>

            </nav>
        </div>
        <div class="row content-tabs">
            <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
            </button>
            <nav class="page-tabs J_menuTabs">
                <div class="page-tabs-content">
                    <a href="index" class="active J_menuTab" data-id="index_v1.html"><!--首页--></a>
                </div>
            </nav>
            <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
            </button>
            <div class="btn-group roll-nav roll-right">
                <bfutton class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>

                </bfutton>
                <ul role="menu" class="dropdown-menu dropdown-menu-right">
                    <li class="J_tabShowActive"><a>定位当前选项卡</a>
                    </li>
                    <li class="divider"></li>
                    <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                    </li>
                    <li class="J_tabCloseOther"><a>关闭其他选项卡</a>
                    </li>
                </ul>
            </div>
            <a href="login/logout" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out" target=_top></i> 退出</a>
        </div>
        <div class="row J_mainContent" id="content-main">
            <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="" frameborder="0" data-id="index_v2.html" seamless></iframe>
        </div>
        <div class="footer">
            <div class="pull-right">&copy; 2017-2018 <a >翰墨教育集团</a>
            </div>
        </div>
    </div>
    <!--右侧部分结束-->

<script src="__PUBLIC__/H/js/jquery.min.js?v=2.1.4"></script>
<script src="__PUBLIC__/H/js/bootstrap.min.js?v=3.3.5"></script>
<script src="__PUBLIC__/H/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="__PUBLIC__/H/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="__PUBLIC__/H/js/plugins/layer/layer.min.js"></script>
<script src="__PUBLIC__/H/js/hplus.min.js?v=4.0.0"></script>
<script type="text/javascript" src="__PUBLIC__/H/js/contabs.min.js"></script>
<script src="__PUBLIC__/H/js/plugins/pace/pace.min.js"></script>
</body>

</html>