<style>
    .booktitle {
        background: #F5F5F5;
        margin-bottom: 20px;
    }
</style>

<div class="hr-line-dashed"></div>

<div class="ibox-content text-center booktitle">
    <h3 class="m-b-xxs">缴费信息</h3>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">费用是否交齐</label>
    <div class="col-sm-3 form-group radio">
        <input class="magic-checkbox" type="radio" name="pay_status" value="1" id="c1"
               name="course_package" datatype="*" nullmsg="请选择费用是否交齐">
        <label for="c1">一次性交齐</label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <input class="magic-checkbox" type="radio" name="pay_status" value="0" id="c2">
        <label for="c2">预报名</label>
    </div>

    <label class="col-sm-1 control-label">已收金额</label>
    <div class="col-sm-2" id="some_cash">
        <input type="number" class="form-control" placeholder="元" name="some_cash" datatype="*" nullmsg="请输入已收金额">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">缴费方式</label>
    <div class="col-sm-2">
        <input type="text" class="form-control" name="pay_way" datatype="*" nullmsg="请输入缴费方式">
    </div>

    <label class="col-sm-2 control-label">缴费时间</label>
    <div class="col-sm-2">
        <div>
            <input placeholder=" 请输入日期" class="laydate-icon" style=" width:142px; height:30px; padding:5px;"
                   onclick="laydate()" name="pay_time" datatype="*" nullmsg="请选择缴费时间">
        </div>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">是否返代理提成</label>
    <div class="col-sm-3 form-group radio">
        <input class="magic-checkbox" type="radio" name="is_proxy" value="1" id="is_proxy1"
               name="course_package" datatype="*" nullmsg="请选择是否返代理提成">
        <label for="is_proxy1">是</label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <input class="magic-checkbox" type="radio" name="is_proxy" value="0" id="is_proxy2">
        <label for="is_proxy2">否</label>
    </div>
</div>

<!-- <div id="proxy_div" style="display:none;"> -->
<div class="form-group proxy_div" style="display:none;">
    <label class="col-sm-2 control-label">代理姓名</label>
    <div class="col-sm-2">
        <input type="text" class="form-control" name="proxy_name" id="proxy_name"  nullmsg="请输入代理姓名">
    </div>

    <label class="col-sm-2 control-label">代理金额</label>
    <div class="col-sm-2">
        <input type="number" class="form-control" placeholder="元" name="proxy_money" id="proxy_money"  nullmsg="请输入代理金额">
    </div>
</div>

<div class="form-group proxy_div" style="display:none;">
    <label class="col-sm-2 control-label">代理提成转账方式</label>
    <div class="col-sm-2">
        <input type="text" class="form-control" name="proxy_pay_way" id="proxy_pay_way"  nullmsg="代理提成转账方式">
    </div>

    <label class="col-sm-2 control-label">备注（财务）</label>
    <div class="col-sm-5">
        <input type="text" class="form-control" name="proxy_remark">
    </div>
</div>
<!-- <div> -->


<script>
    //根据是否返代理提成，是否代理姓名，代理金额，代理提成转账方式，备注（财务）和实现必填设置
    $("input:radio[name='is_proxy']").change(function () {
        var is_proxy = $(this).val();
        if (is_proxy == 1) {
            $(".proxy_div").removeAttr("style", "display:none;");
			$("#proxy_name,#proxy_money,#proxy_pay_way,#proxy_remark").attr("datatype",'*');
			<!-- $("#proxy_money").attr("datatype",'*'); -->
			<!-- $("#proxy_pay_way").attr("datatype",'*'); -->
        } else {
            $(".proxy_div").attr("style", "display:none;");
			$("#proxy_name,#proxy_money,#proxy_pay_way").removeAttr("datatype");
			<!-- $("#proxy_money").removeAttr("datatype"); -->
			<!-- $("#proxy_pay_way").removeAttr("datatype"); -->
        }
        //alert(pay_status);
    });
</script>