<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>教师证学生报名表详情</title>

    <link rel="shortcut icon" href="favicon.ico">
    <link href="__PUBLIC__/H/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="__PUBLIC__/H/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/H/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__PUBLIC__/H/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/H/css/style.min.css?v=4.0.0" rel="stylesheet">
    <link href="__PUBLIC__/magic-check/magic-check.css" rel="stylesheet">
    <link href="__PUBLIC__/Validform/style.css" rel="stylesheet">

    <link href="__PUBLIC__/plugins/chosen/css/chosen.css" rel="stylesheet">
	
	
	<script src="__PUBLIC__/H/js/jquery.min.js?v=2.1.4"></script>

    <!--点提交新页面打开-->
    <!--<base target="_blank">-->


    <style>
        .laydate-icon {
            width: 242px;
            height: 30px;
        }

        .magic-radio + label,
        .magic-checkbox + label {
            display: inline;
        }

        .magic-checkbox:checked + label:before {
            border: #3e97eb;
            background: #2E8B57;
        }

        .booktitle {
            background: #F5F5F5;
            margin-bottom: 20px;
            margin-top: 100px;
        }
    </style>

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">


    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">

                    <!--<h5 style="padding-top: 8px;padding-right: 13px;">教师证学生报名表详情</h5>-->
                    <if condition="($Think.session.roleid eq 1) OR ($Think.session.roleid eq 4) OR ($Think.session.roleid eq 5)">
                        <button class="btn btn-warning" type="submit" id="iwanModify">我要修改</button>
						<button class="btn btn-danger" type="submit" id=""  onclick="sure('{:U('Admin/Com/delete')}')"   style="float:right;">删除</button>
                    </if>
					
                    <!--<div class="ibox-tools">-->
                    <!--<a class="collapse-link">-->
                    <!--<i class="fa fa-chevron-up"></i>-->
                    <!--</a>-->
                    <!--<a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">-->
                    <!--<i class="fa fa-wrench"></i>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu dropdown-user">-->
                    <!--<li><a href="form_basic.html#">选项1</a>-->
                    <!--</li>-->
                    <!--<li><a href="form_basic.html#">选项2</a>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--<a class="close-link">-->
                    <!--<i class="fa fa-times"></i>-->
                    <!--</a>-->
                    <!--</div>-->
                </div>
                <div class="ibox-content">

                    <form class="form-horizontal demoform" action="" method="post" 
                          enctype="multipart/form-data" name="myForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">笔试考试时间</label>

                            <div class="col-sm-5">
                                <select class="form-control m-b" name="test_time">
                                    <option value="{$detail.test_time}" id="originalTime">{$detail.test_time}</option>
                                    <option value="">-------------------------------</option>
                                    <foreach name="testTime" item="vo">
                                        <option value="{$vo.thtt_time}">{$vo.thtt_time}</option>
                                    </foreach>
                                </select>
                                <input type="hidden" id="ttime" value="{$detail.test_time}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">报考类别</label>

                            <div class="col-sm-5">
                                <select class="form-control m-b" name="course">
                                    <option value="{$detail.course}">{$detail.course}</option>
                                    <option value="{$detail.course}">-------------------------------</option>
                                    <foreach name="course" item="vo">
                                        <option value="{$vo.cousr_name}">{$vo.cousr_name}</option>
                                    </foreach>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">考区</label>

                            <div class="col-sm-5">
                                <div style="padding-top: 8px">
                                    {$detail.test_place}<br/><br/>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-5">
                                <!-- 城市 -->
                                <select class="form-control m-b" name="place_city_id" id="city"
                                        style="width: 240px">
                                    <option>--请选择市--</option>
                                    <foreach name="city" item="v">
                                        <option value="{$v.place_id}">{$v.place_name}</option>
                                    </foreach>
                                </select>
                                <!-- 区县 -->
                                <select class="form-control m-b" name="place_area_id" id="area"
                                        style="width: 240px">
                                    <option></option>
                                </select>
								
								<input type="text" class="form-control" name="outarea"  id="outarea"  style="display:none" > <!--省外文本框 -->
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">姓名</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="name" datatype="*"
                                       value="{$detail.name}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">身份证号码</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="idcard" id="idcard" datatype="*"
                                       value="{$detail.idcard}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">手机号码</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="tel" datatype="m&*"
                                       errormsg="请输入正确的手机号码" value="{$detail.tel}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">性别</label>

                            <div class="col-sm-5">
                                <select class="form-control m-b" name="sex">
                                    <option value="0"
                                    <if condition="$detail.sex eq 0">selected</if>
                                    >男</option>
                                    <option value="1"
                                    <if condition="$detail.sex eq 1">selected</if>
                                    >女</option>
                                </select>
                            </div>
                        </div>
						
						<div class="form-group">
                            <label class="col-sm-3 control-label">民族</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="nation" datatype="*" value="{$detail.nation}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">政治面貌</label>

                            <div class="col-sm-5">
                                <select class="form-control m-b" name="face">
                                    <option value="1"
                                    <if condition="$detail.face eq 1">selected</if>
                                    >团员</option>
                                    <option value="2"
                                    <if condition="$detail.face eq 2">selected</if>
                                    >预备党员</option>
                                    <option value="3"
                                    <if condition="$detail.face eq 3">selected</if>
                                    >党员</option>
                                    <option value="4"
                                    <if condition="$detail.face eq 4">selected</if>
                                    >群众</option>
                                    <option value="5"
                                    <if condition="$detail.face eq 5">selected</if>
                                    >其他</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">出生年月</label>

                            <div class="col-sm-5">
                                <div style="width:970px; margin:0px auto;">
                                    <input placeholder=" 请输入日期" class="laydate-icon"
                                           style=" width:242px; height:30px;"
                                           onclick="laydate()" name="birthday" datatype="*" id="birthday"
                                           value="{$detail.birthday}">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">户口所在地</label>

                            <div class="col-sm-5">
                                <input type="text" placeholder='___省___市___区（县）' class="form-control"
                                       name="hukou_address" datatype="*" value="{$detail.hukou_address}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否师范专业</label>

                            <div class="col-sm-5 radio i-checks">
                                <label>
                                    <input type="radio" value="1" name="is_normal"
                                    <if condition="$detail.is_normal eq 1">checked</if>
                                    > <i></i> 是</label>
                                <label>
                                    <input type="radio" value="0" name="is_normal"
                                    <if condition="$detail.is_normal eq 0">checked</if>
                                    > <i></i> 否</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">毕业/在读学校名称（全名）</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="school" datatype="*"
                                       value="{$detail.school}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否大学在读</label>

                            <div class="col-sm-8 radio i-checks">
                                <label>
                                    <input type="radio" value="6" name="grade" id="grade" datatype="*"
                                           nullmsg="请选择是否大学在读"
                                    <if condition="$detail.grade eq 6">checked</if>
                                    > <i></i> 中二</label>
                                <label>
                                    <input type="radio" value="7" name="grade"
                                    <if condition="$detail.grade eq 7">checked</if>
                                    > <i></i> 中三</label>
                                <label>
                                    <input type="radio" value="1" name="grade"
                                    <if condition="$detail.grade eq 1">checked</if>
                                    > <i></i> 大一</label>
                                <label>
                                    <input type="radio" value="2" name="grade"
                                    <if condition="$detail.grade eq 2">checked</if>
                                    > <i></i> 大二</label>
                                <label>
                                    <input type="radio" value="3" name="grade"
                                    <if condition="$detail.grade eq 3">checked</if>
                                    > <i></i> 大三</label>
                                <label>
                                    <input type="radio" value="4" name="grade"
                                    <if condition="$detail.grade eq 4">checked</if>
                                    > <i></i> 大四</label>
                                <label>
                                    <input type="radio" value="5" name="grade"
                                    <if condition="$detail.grade eq 5">checked</if>
                                    > <i></i> 已毕业</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">学习形式</label>

                            <div class="col-sm-5 radio i-checks">
                                <label>
                                    <input type="radio" value="1" name="study_form"
                                    <if condition="$detail.study_form eq 1">checked</if>
                                    > <i></i> 普通全日制</label>
                                <label>
                                    <input type="radio" value="2" name="study_form"
                                    <if condition="$detail.study_form eq 2">checked</if>
                                    > <i></i> 成人高考</label>
                                <label>
                                    <input type="radio" value="3" name="study_form"
                                    <if condition="$detail.study_form eq 3">checked</if>
                                    > <i></i> 远程教育</label>
								<label>
                                    <input type="radio" value="4" name="study_form"
                                    <if condition="$detail.study_form eq 4">checked</if>
                                    > <i></i> 自学考试</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">院系班级</label>

                            <div class="col-sm-5">
                                <input type="text" placeholder='______院系______班级' class="form-control"
                                       name="college_class" datatype="*" value="{$detail.college_class}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">学历层次</label>

                            <div class="col-sm-5 radio i-checks">
                                <label>
                                    <input type="radio" value="4" name="education" datatype="*"
                                           nullmsg="请选择学历层次"
                                    <if condition="$detail.education eq 4">checked</if>
                                    > <i></i> 中专</label>
                                <label>
                                    <input type="radio" value="1" name="education"
                                    <if condition="$detail.education eq 1">checked</if>
                                    > <i></i> 大专</label>
                                <label>
                                    <input type="radio" value="2" name="education"
                                    <if condition="$detail.education eq 2">checked</if>
                                    > <i></i> 本科</label>
                                <label>
                                    <input type="radio" value="3" name="education"
                                    <if condition="$detail.education eq 3">checked</if>
                                    > <i></i> 研究生</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">最高学位</label>

                            <div class="col-sm-5 radio i-checks">
                                <label>
                                    <input type="radio" value="4" name="degree"
                                    <if condition="$detail.degree eq 4">checked</if>
                                    > <i></i> 无学位</label>
                                <label>
                                    <input type="radio" value="1" name="degree"
                                    <if condition="$detail.degree eq 1">checked</if>
                                    > <i></i> 学士</label>
                                <label>
                                    <input type="radio" value="2" name="degree"
                                    <if condition="$detail.degree eq 2">checked</if>
                                    > <i></i> 硕士</label>
                                <label>
                                    <input type="radio" value="3" name="degree"
                                    <if condition="$detail.degree eq 3">checked</if>
                                    > <i></i> 博士</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">学位证书号码</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="degree_num"
                                       value="{$detail.degree_num}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">参加工作年份</label>

                            <div class="col-sm-5">
                                <div style="width:970px; margin:0px auto;">
                                    <input placeholder=" 请输入日期" class="laydate-icon"
                                           style=" width:242px; height:30px;"
                                           onclick="laydate({  format: 'YYYY'})" name="work_time" datatype="*"
                                           value="{$detail.work_time}">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">QQ邮箱</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="email" datatype="e&*"
                                       errormsg="请输入正确的邮箱" value="{$detail.email}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">微信号</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" value="{$detail.wechar}" name="wechar" datatype="s&*"  nullmsg="请输入微信号">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">本人联系地址</label>

                            <div class="col-sm-8">
                                <input type="text" placeholder='___市___区______' class="form-control"
                                       name="address" datatype="*" value="{$detail.address}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">院校入学时间</label>

                            <div class="col-sm-5">
                                <div style="width:970px; margin:0px auto;">
                                    <input placeholder=" 请输入日期" class="laydate-icon"
                                           style=" width:242px; height:30px;"
                                           onclick="laydate()" name="entrance_time" datatype="*"
                                           nullmsg="请选择院校入学时间" value="{$detail.entrance_time}">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">预计毕业时间</label>

                            <div class="col-sm-5">
                                <div style="width:970px; margin:0px auto;">
                                    <input placeholder=" 请输入日期" class="laydate-icon"
                                           style=" width:242px; height:30px;"
                                           onclick="laydate()" name="graduation_time" datatype="*"
                                           nullmsg="请选择预计毕业时间" value="{$detail.graduation_time}">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">紧急联系人</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="emergency_contact" datatype="*"
                                       value="{$detail.emergency_contact}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">紧急联系人电话</label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="emergency_tel" datatype="*"
                                       value="{$detail.emergency_tel}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">考生照片</label>
                            <div class="col-sm-8">
                                <input type="file" name="pic" id="imgurl" onchange="photoCheck(/\.(jpg|jpeg)$/,200,0,0)"/>
                                <div style="padding: 5px">
                                    照片要求：彩色白底免冠证件照；不允许带帽子、头巾、发带、墨镜；不大于200KB，.jpg/.jpeg文件格式
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <if condition="$detail.pic eq null">
                                <div class="col-sm-5 form-group radio i-checks">
                                    <img src="__PUBLIC__/img/moren.jpg" width="50px" class="img-responsive"
                                         id="img1">
                                </div>
                                <else/>
                                <div class="col-sm-5 form-group radio i-checks">
                                    <img src="__PUBLIC__/Uploads/{$detail.pic}" width="50px"
                                         class="img-responsive" id="imgShow">
                                </div>
                            </if>
                        </div>
						
						 <div class="form-group">
                            <label class="col-sm-3 control-label">考生身份证照片</label>
                            <div class="col-sm-8">
                                <input type="file" name="idpic" id="idImgurl" onchange="photoIdPicCheck(/\.(jpg|jpeg)$/,400,0,0)"/>
                                <div style="padding: 5px">
                                    照片要求：照片清晰，不大于400KB，.jpg/.jpeg文件格式
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <if condition="$detail.id_pic eq null">
                                <div class="col-sm-5 form-group radio i-checks">
                                    <img src="__PUBLIC__/img/moren.jpg" width="50px" class="img-responsive"
                                         id="img2">
                                </div>
                                <else/>
                                <div class="col-sm-5 form-group radio i-checks">
                                    <img src="__PUBLIC__/Uploads/{$detail.id_pic}" width="50px"
                                         class="img-responsive" id="idImgShow">
                                </div>
                            </if>
                        </div>

                        <!-- <div class="form-group"> -->
                            <!-- <label class="col-sm-3 control-label">班型选择</label> -->

                            <!-- <div class="col-sm-5 form-group radio i-checks"> -->
                                <!-- <label> -->
                                    <!-- <input type="radio" value="{$vo.id}" name="" datatype="*" nullmsg="请选择班型" -->
                                           <!-- checked> <i></i> -->
                                    <!-- {$course_package.name}</label> -->
                            <!-- </div> -->
                        <!-- </div> -->
						
						<div class="form-group">
                            <label class="col-sm-3 control-label">班型选择</label>
                            <div class="col-sm-5">
                              <select class="form-control m-b" name="course_package" id="course_package">
									<option value="{$detail.course_package}">{$course_package.name}</option>
									<option value="{$detail.course_package}">----------------------------------------------</option>
                                    <foreach name="TeaCoursePackage" item="vo">
                                        <option value="{$vo.id}">{$vo.name}</option>
                                    </foreach>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">特殊情况备注</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="remark" datatype="*"  value="{$detail.remark}">
                            </div>
                        </div>
						
						<div class="form-group">
                            <label class="col-sm-3 control-label">是否包含普通话</label>

                            <div class="col-sm-3 form-group radio">
                                <input class="magic-checkbox" type="radio" name="is_mandarin" value="1" id="m1"  <if condition="$detail.is_mandarin eq 1">checked</if>
                                     datatype="*" nullmsg="请选择是否包含普通话">
                                <label for="m1">含普通话</label>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                <input class="magic-checkbox" type="radio" name="is_mandarin" value="0" id="m2"  <if condition="$detail.is_mandarin eq 0">checked</if>>
                                <label for="m2">不含普通话</label>
							</div>
							 
							 
							<div class="col-sm-6" id="mandarin_date">
								<label class="col-sm-3 control-label">普通话考试时间</label>

								<div class="col-sm-4">
									<select class="form-control m-b" name="mandarin_date">
										<option value="{$detail.mandarin_date}" id="originalTime">{$detail.mandarin_date}</option>
										<option value="">-------------------------------</option>
										<option value=""></option>
										<foreach name="mandarinDate" item="vo">
											<option value="{$vo.thtt_time}">{$vo.thtt_time}</option>
										</foreach>
									</select>
								</div>
							</div>
							</if>
							
                        </div>
						
						<div class="form-group">
							<label class="col-sm-3 control-label">是否预报名</label>

                            <div class="col-sm-3 form-group radio">
                                <input class="magic-checkbox" type="radio" name="is_bk" value="0" id="b1"  <if condition="$detail.is_bk eq 0">checked</if>
                                     datatype="*" nullmsg="请选择是否预报名">
                                <label for="b1">否</label>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                <input class="magic-checkbox" type="radio" name="is_bk" value="1" id="b2"  <if condition="$detail.is_bk eq 1">checked</if>>
                                <label for="b2">是</label>
							</div>
						</div>


                        <!-- 修改，核实资料按钮。业务员可修改图片-->
                        <if condition="($Think.session.roleid eq 1) OR ($Think.session.roleid eq 4) OR ($Think.session.roleid eq 3) OR ($Think.session.roleid eq 5)">
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-5">

                                <button class="btn btn-primary" type="submit" id="save">确认修改</button>          
                                 
                                 <if condition="($Think.session.roleid eq 1) OR ($Think.session.roleid eq 4)">
                                 <button class="btn btn-primary" type="submit" id="check"  onclick="sure('{:U('Admin/Com/check')}')" >核实资料</button>    
                                 </if>

                                <input type="hidden" name="course_cat" id="course" value="jsz">
                                <input type="hidden" name="topcourse_id" id="topcourse_id" value="1">
                                <input type="hidden" name="id" id="stu_id" value="{$detail.id}">
                                <input type="hidden" name="picinfo" value="{$detail.pic}">
                            </div>
                        </div>
                        </if>

                        <div class="hr-line-dashed"></div>
						
						
                        <!-- 教务部显示缴费信息的填写框，防止教务修改-->						
						<if condition="$Think.session.roleid neq 4">
						<!-- 费用是否交齐等 财务-->
						<include file="Public/cost" />
						</if>

						
                    <!-- 财务审核按钮-->
					<if condition="($Think.session.roleid eq 1) OR ($Think.session.roleid eq 5)">
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-5">
                                 <if condition="($Think.session.roleid eq 1) OR ($Think.session.roleid eq 5)">
                                 <button class="btn btn-primary" type="submit" id="audit">财务审核</button>    
                                 </if>							
                            </div>
                        </div>
					</if>

                </form>
                <!--修改表单结束-->


               
                <!-- 交费情况-->
                <include file="Public/payList" />

                <!-- 考试情况-->
                <include file="Public/scoreList" />

                <!-- 补考情况-->
                <include file="Public/resitList" />
               


                <!--发书操作开始-->
                <!-- <div class="hr-line-dashed"></div> -->

                <div class="ibox-content text-center booktitle">
                    <h3 class="m-b-xxs">发书情况</h3>
                </div>


                <div class="col-sm-12">
                    <div class="ibox-content">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>已发放的课本</th>
                                <th>快递单号</th>
                                <th>发放时间</th>
                                <th>是否发齐</th>
                                <if condition="($Think.session.roleid eq 1) OR ($Think.session.roleid eq 4) ">
                                    <th>操作</th>
                                </if>
                            </tr>
                            </thead>
                            <tbody>
                            <if condition="$send_book neq null">
                                <foreach name="send_book" key="key" item="vo">
                                    <tr>
                                        <td>{$key+1}</td>
                                        <td>{$vo.book_name}</td>
                                        <td>{$vo.velivery_name}:{$vo.velivery_num}</td>
                                        <td>{$vo.send_time}</td>
                                        <td>
                                            <if condition="$vo.send_status eq 1"> 已发齐
                                                <else/>
                                                未发齐
                                            </if>
                                        </td>
                                        <if condition="($Think.session.roleid eq 1) OR ($Think.session.roleid eq 4) ">
                                            <td><a onclick="return confirm('确定删除?')"
                                                   href="{:U('Admin/Book/deleteBook','id='.$vo['id'])}">
                                                <button class="btn">删除</button>
                                            </a></td>
                                        </if>
                                    </tr>
                                </foreach>
                                <else/>
                                <td colspan=6 style="text-align: center">无发书记录</td>
                            </if>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ibox-content text-center ">
                </div>


                <if condition="($Think.session.roleid eq 1) OR ($Think.session.roleid eq 4) OR ($Think.session.roleid eq 6)">
                    <form class="form-horizontal demoform" action="{:U('Admin/Book/sendBook')}" method="post"
                          enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">发放书本</label>

                            <div class="col-sm-8">
                                <select data-placeholder="点击选择课本..." class="chzn-select" multiple
                                        style="width:850px;" tabindex="4" id="selectbook">
                                    <option value=""></option>
                                    <foreach name="book" item="vo">
                                        <option value="{$vo.book_name}">{$vo.book_name}</option>
                                    </foreach>
                                </select>
                                <input type="hidden" name="book_name" value="1" id="postbook">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">书本是否发齐</label>

                            <div class="col-sm-3 radio i-checks">
                                <label>
                                    <input type="radio" value="1" name="send_status" datatype="*"
                                           nullmsg="请勾选书本是否发齐"> <i></i> 发齐</label>
                                <label>
                                    <input type="radio" value="0" name="send_status"> <i></i> 未发齐</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">快递单号</label>

                            <div class="col-sm-2">
                                <select class="form-control m-b" name="velivery_name">
                                    <foreach name="velivery" item="vo">
                                        <option value="{$vo.delivery_name}">{$vo.delivery_name}</option>
                                    </foreach>
                                </select>
                            </div>


                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="velivery_num" datatype="*"
                                       nullmsg="请输入快递单号" placeholder="快递单号">
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-5">
                                <button class="btn btn-primary" type="submit" id="savebook">确定</button>
                                <input type="hidden" name="topcourse_id" value="1">
                                <input type="hidden" name="student_id" value="{$detail.id}">
                                <input type="hidden" name="user_id" value="{$Think.session.userid}">
                            </div>
                        </div>

                    </form>
                </if>
                <!--发书操作结束-->


                

            </div>
        </div>
    </div>
</div>
</div>



<script src="__PUBLIC__/H/js/bootstrap.min.js?v=3.3.5"></script>
<script src="__PUBLIC__/H/js/content.min.js?v=1.0.0"></script>
<script src="__PUBLIC__/H/js/plugins/iCheck/icheck.min.js"></script>
<script src="__PUBLIC__/laydate/laydate.js"></script>
<script src="__PUBLIC__/plugins/layer/layer.js"></script>
<script src="__PUBLIC__/Validform/Validform_v5.3.2_min.js"></script>
<script src="__PUBLIC__/plugins/chosen/js/chosen.jquery.js"></script>
<!--检测照片规格-->
<script src="__PUBLIC__/js/plugins/js/checkImg.js"></script>
<!--一些公共方法-->
<script src="__PUBLIC__/js/plugins/js/formPublic.js"></script>


<script>
    //初始化Validform
    $(".demoform").Validform();

    //初始化chosen
    //    $(".chzn-select").chosen();
    $(".chzn-select").chosen({
        no_results_text: "没有找到",
        allow_single_de: true,  //是否作废选择 max_ed_options 当为多选时，最多选择个数
        search_contains: true,   //模糊搜索

    });

    

    //change事件         chosen
    $('#selectbook').change(function () {
//        console.log(chose_get_value('#selectbook'));
        $("#postbook").val(chose_get_value('#selectbook'));

//        alert(chose_get_value('#selectbook'));
//        alert(chose_get_value('#selectbook') + ' : '+ chose_get_text('#selectbook'));

    });
    //select value获取
    function chose_get_value(select) {
        return $(select).val();
    }
    //select text获取，多选时请注意
    function chose_get_text(select) {
        return $(select + " option:selected").text();
    }


    //    $(document).ready(function(){
    $(document).ready(function () {
        $(".i-checks").iCheck({checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green",})
    });

    //点击我要修改放开不可编辑
    $("#iwanModify").click(function () {
        $('input,select,textarea,radio', $('form[name="myForm"]')).removeAttr("disabled", 'disabled');

        //如果财务已审核，金额等信息不允许修改
        <if condition="$detail.is_audit eq 1">
        $('#some_cash,#pay_time').attr("disabled",'disabled');
        </if>
    });


    //        //根据费用是否交齐，显示输入框
    //        $("input:radio[name='pay_status']").change(function (){
    //            var pay_status=$(this).val();
    //            if (pay_status==0){
    //                $("#some_cash").removeAttr("style","display:none;");
    //            }else {
    //                $("#some_cash").attr("style","display:none;");
    //            }
    //            //alert(pay_status);
    //        });


    //根据是否包含普通话，显示普通话考试日期框
    //$("input:radio[name='is_mandarin']").change(function () {
    //    var pay_status = $(this).val();
    //    if (pay_status == 1) {
    //        $("#mandarin_date").removeAttr("style", "display:none;");
    //    } else {
    //        $("#mandarin_date").attr("style", "display:none;");
    //    }
    //});


    //考区联动
    $('#city').change(function () {
        $.ajax({
            type: "post",
            url: "{:U('TestPlace/postArea')}",
            data: 'place_id=' + $('#city').val(),
            dataType: 'json',
            success: function (data) {
//                    console.log(data);
                $("#area").html(data);
            }
        });
    });

    //图片点击大小变化
    $(function () {
        $("#img1").click(function () {
            var width = $(this).width();
            if (width == 50) {
                $(this).width(150);
//                $(this).height(300);
            }
            else {
                $(this).width(50);
//                $(this).height(150);
            }
        });
    });

    //身份证图片点击大小变化
    $(function () {
        $("#img2").click(function () {
            var width = $(this).width();
            if (width == 50) {
                $(this).width(450);
//                $(this).height(300);
            }
            else {
                $(this).width(50);
//                $(this).height(150);
            }
        });
    });

    $('input,select,textarea,radio', $('form[name="myForm"]')).attr("disabled", 'disabled');

    

     

    //给考试时间赋值
    var test_time = $('#ttime').val();
    $("#originalTime").val(test_time);
    // alert(test_time); 



    /*
     js自身没有trim()函数取消字符串中的空白字符
     自定义函数：用正则替换掉空白字符
     */
    function trim(s) {
        return s.replace(/^\s+|\s+$/g, "");
    };

    //根据身份证号码来自动填充出生日期
    $("#idcard").blur(function () {
        var iIdNo = $("#idcard").val();
        var tmpStr = "";
        var idDate = "";
        var tmpInt = 0;
        var strReturn = "";

        iIdNo = trim(iIdNo);

        if ((iIdNo.length != 15) && (iIdNo.length != 18)) {
            strReturn = "输入的身份证号位数错误";
            layer.msg(strReturn);
//            alert(strReturn);
        }

        if (iIdNo.length == 15) {
            tmpStr = iIdNo.substring(6, 12);
            tmpStr = "19" + tmpStr;
            tmpStr = tmpStr.substring(0, 4) + "-" + tmpStr.substring(4, 6) + "-" + tmpStr.substring(6)

            $("#birthday").val(tmpStr);
//                return tmpStr;
        }
        else {
            tmpStr = iIdNo.substring(6, 14);
            tmpStr = tmpStr.substring(0, 4) + "-" + tmpStr.substring(4, 6) + "-" + tmpStr.substring(6)

            $("#birthday").val(tmpStr);
//                return tmpStr;
        }
    });

    //根据学历层次判断所在年级是否必填，研究生不用填“所在年级”
    $("body").click(function () {
        var val = $('input:radio[name="education"]:checked').val();
        if (val == 3) {
            $("#grade").removeAttr("datatype");
        } else {
            $("#grade").attr("datatype", '*');
        }
//       alert(val) ;
    });


    //只需要广州，佛山下拉有区，其他市取消“区”的下拉选择
	$("#city").change(function(){
        var city=$("#city").val();
        if (city==8 || city==17 || city==14){
            jQuery("#area").attr("style","display:block;");
			
			jQuery("#outarea").attr("style","display:none;");//隐藏省外文本框
			$("#outarea").removeAttr("datatype");//省外文本框去掉必填验证
        }else if(city==89) { //#outarea省外
           jQuery("#outarea").attr("style","display:block;"); //显示省外文本框
		   $("#outarea").attr("datatype",'*'); //省外文本框加上必填验证
		   
		   jQuery("#area").attr("style","display:none;");
        }else{
			 jQuery("#area").attr("style","display:none;");
			 
			 jQuery("#outarea").attr("style","display:none;");//隐藏省外文本框
			 $("#outarea").removeAttr("datatype");//省外文本框去掉必填验证
		}
    });
	
	
	//如果是招生老师，而且照片为空，放开上传照片按钮为可点击
    <if condition="$Think.session.roleid eq 3 AND $detail.pic eq null ">
        $('#imgurl,#stu_id').attr("disabled", false);//移除不可编辑（招生老师修改照片）
    </if>

    //如果是招生老师，而且照片为空，放开上传身份证照片按钮为可点击
    <if condition="$Think.session.roleid eq 3 AND $detail.id_pic eq null ">
        $('#idImgurl,#stu_id').attr("disabled", false);//移除不可编辑（招生老师修改照片）
    </if>
	

    //教务
    //判断资料是否核实，已核实的按钮标记为“已核实”并且不能点击
	 <if condition="$detail.is_check eq 1 ">
        $("#check").text("已核实");
        $("#check").attr("disabled", 'disabled');
     </if>
	
	//核实资料提交按钮提交地址
    //$("#check").click(function(){
    //    $('#course,#stu_id').attr("disabled", false);
    //    document.myForm.action="{:U('Admin/Com/check')}";
    //    document.myForm.submit();
    //});


    
    //财务
    //判断资料是否审核，已审核的按钮标记为“已审核”并且不能点击
     <if condition="$detail.is_audit eq 1 ">
        $("#audit").text("已审核");
        $("#audit").attr("disabled", 'disabled');
     </if>

    //财务审核提交按钮提交地址，财务审核要放开传入的字段较多，不适应公共方法
    $("#audit").click(function(){
         var msg = "是否要进行该操作？\n\n请再次确认！"; 
         if (confirm(msg)==true){
            //#c1,#c2是费用是否交齐name='pay_status' 
            $('#course,#topcourse_id,#course_package,#stu_id,#pay_time,#some_cash,#c1,#c2').attr("disabled", false);
            document.myForm.action="{:U('Admin/Com/audit')}";
            document.myForm.submit();
         }else{ 
          return false; 
         }        
    });



    //修改表单提交
    $("#save").click(function(){
        document.myForm.action="{:U('Admin/Teacher/savefrom')}";
        document.myForm.submit();
    });

	
	
    <!-- $("#city").change(function(){ -->
        <!-- var city=$("#city").val(); -->
        <!-- if (city==8 || city==17 || city==14){ -->
            <!-- jQuery("#area").attr("style","display:block;"); -->
        <!-- }else { -->
            <!-- jQuery("#area").attr("style","display:none;"); -->
        <!-- } -->
    <!-- }); -->


    //获取选择发放的所有课本
    //    $("body").click(function(){
    //        $('.chosen-choices li').each(function(index) {
    //            var book =  $(this).text();
    //            alert(book);
    ////            alert(index + ': ' + $(this).text());
    //        });
    //    });


    //    });

  

</script>

</body>

</html>