<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>专插本学生报名表录入</title>

    <link rel="shortcut icon" href="favicon.ico">
    <link href="__PUBLIC__/H/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="__PUBLIC__/H/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/H/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__PUBLIC__/H/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/H/css/style.min.css?v=4.0.0" rel="stylesheet">
    <link href="__PUBLIC__/magic-check/magic-check.css" rel="stylesheet">
    <link href="__PUBLIC__/Validform/style.css" rel="stylesheet">

	<script src="__PUBLIC__/H/js/jquery.min.js?v=2.1.4"></script>

    <!--点提交新页面打开-->
    <!--<base target="_blank">-->



    <style>
        .laydate-icon {
            width: 242px;
            height: 30px;
        }
        .magic-radio + label,
        .magic-checkbox + label {
            display:inline;
        }
        .magic-checkbox:checked + label:before {
            border: #3e97eb;
            background: #2E8B57;
        }
        .laydate_body .laydate_y .laydate_yms ul li{
            width: 58px;
        }
    </style>

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">


    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>专插本报名表</h5>

                    <!--<div class="ibox-tools">-->
                        <!--<a class="collapse-link">-->
                            <!--<i class="fa fa-chevron-up"></i>-->
                        <!--</a>-->
                        <!--<a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">-->
                            <!--<i class="fa fa-wrench"></i>-->
                        <!--</a>-->
                        <!--<ul class="dropdown-menu dropdown-user">-->
                            <!--<li><a href="form_basic.html#">选项1</a>-->
                            <!--</li>-->
                            <!--<li><a href="form_basic.html#">选项2</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                        <!--<a class="close-link">-->
                            <!--<i class="fa fa-times"></i>-->
                        <!--</a>-->
                    <!--</div>-->

                </div>
                <div class="ibox-content">

                    <form  class="form-horizontal demoform"  action="{:U('Admin/InserUnder/postfrom')}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">姓名</label>

                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="name" datatype="*" >
                            </div>

                            <label class="col-sm-2 control-label">性别</label>

                            <div class="col-sm-3">
                                <select class="form-control m-b" name="sex">
                                    <option value="0">男</option>
                                    <option value="1">女</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">民族</label>

                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="nation"  datatype="*">
                            </div>

                            <label class="col-sm-2 control-label">政治面貌</label>

                            <div class="col-sm-3">
                                <select class="form-control m-b" name="face">
                                    <option value="1">团员</option>
                                    <option value="2">预备党员</option>
                                    <option value="3">党员</option>
                                    <option value="4">群众</option>
                                    <option value="5">其他</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">籍贯</label>

                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="hometown" datatype="*">
                            </div>

                            <label class="col-sm-2 control-label">QQ</label>

                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="qq" datatype="n&*"  errormsg="请输入正确的QQ">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">手机号码</label>

                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="tel" datatype="m&*" errormsg="请输入正确的手机号码格式">
                            </div>
							
							<label class="col-sm-2 control-label">微信号</label>

                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="wechar" datatype="s&*"  nullmsg="请输入微信号">
                            </div>

                            <!--<label class="col-sm-2 control-label">短号</label>-->

                            <!--<div class="col-sm-3">-->
                                <!--<input type="text" class="form-control" name="short_tel" datatype="*" >-->
                            <!--</div>-->
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">大专学校全称</label>

                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="school" datatype="*">
                            </div>

                            <label class="col-sm-2 control-label">身份证号码</label>

                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="idcard" id="idcard"  datatype="*">
                            </div>
                        </div>

                        <div class="form-group">

                            <label class="col-sm-2 control-label">大专专业名称</label>

                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="major" datatype="*">
                            </div>

                            <label class="col-sm-2 control-label">是否在校</label>

                            <div class="col-sm-3 radio i-checks">
                                <label>
                                    <input type="radio" value="1" name="in_school" datatype="*" nullmsg="请选择是否在校">
                                    <i></i> 是</label>
                                <label>
                                    <input type="radio" value="0" name="in_school"> <i></i> 否</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">收件地址</label>

                            <div class="col-sm-8">
                                <input type="text" placeholder='___省___市____县/区________' class="form-control" name="receive_address" datatype="*">
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="col-sm-2 control-label">紧急联系人</label>

                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="emergency_contact" datatype="*">
                            </div>

                            <label class="col-sm-2 control-label">紧急联系人电话</label>

                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="emergency_tel" datatype="*">
                            </div>
                        </div>


                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">考试年度</label>

                            <div class="col-sm-3">
                                <select class="form-control m-b" name="test_time">
                                    <foreach name="testTime" item="vo">
                                        <option value="{$vo.thtt_time}">{$vo.thtt_time}</option>
                                    </foreach>

                                </select>
                            </div>

                            <label class="col-sm-2 control-label">报考类型名称</label>

                            <div class="col-sm-3">
                                <select class="form-control m-b" name="course">
                                    <foreach name="course" item="vo">
                                        <option value="{$vo.cousr_name}">{$vo.cousr_name}</option>
                                    </foreach>
                                </select>
                                <!--<input type="text" class="form-control" name="apply_category" datatype="*">-->
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">考生照片</label>
                            <div class="col-sm-3">
                                <input type="file" name="pic" id="imgurl" onchange="photoCheck(this)"/>
                                <div>*&nbsp;图片要求：彩色白底免冠，规格285*385，小于300KB，.jpg文件格式</div>

                                <img src="" id="imgShow" style="width:50px"></img>
                            </div>

                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">班型选择</label>

                            <div class="col-sm-10 form-group radio i-checks">
                                <foreach name="TeaCoursePackage" item="vo">
                                    <label>
                                            <input type="radio" value="{$vo.id}" name="course_package"  datatype="*" nullmsg="请选择班型"> <i></i>
                                        {$vo.name}</label>
                                </foreach>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">培训校区选择</label>

                            <div class="col-sm-3">
                                <select class="form-control m-b" name="campus">
                                    <foreach name="campus" item="vo">
                                        <option value="{$vo.id}">{$vo.campus_name}</option>
                                    </foreach>
                                </select>
                            </div>
                        </div>
						
						<div class="form-group">
							<label class="col-sm-2 control-label">是否预报名</label>
							<div class="col-sm-3 form-group radio">
								<input class="magic-checkbox" type="radio" name="is_bk" value="1" id="cbk1"
									   name="course_package" datatype="*" nullmsg="请选择费用是否交齐">
								<label for="cbk1">是</label>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

								<input class="magic-checkbox" type="radio" name="is_bk" value="0" id="cbk2">
								<label for="cbk2">否</label>
							</div>
						</div>                   

                        <div class="form-group">
                            <label class="col-sm-2 control-label">插本学校</label>

                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="inser_school" datatype="*">
                            </div>

                            <label class="col-sm-2 control-label">插本专业</label>

                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="inser_major" datatype="*" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">备注</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="remarks" datatype="*">
                            </div>
                        </div>
						
						
						
						
						
						<!-- 费用是否交齐等 财务-->
						<include file="Public/cost" />
						
						
						<!-- <div class="form-group"> -->
                                <!-- <label class="col-sm-2 control-label">费用是否交齐</label> -->

                                <!-- <div class="col-sm-3 form-group radio"> -->
                                    <!-- <input class="magic-checkbox" type="radio" name="pay_status" value="1" id="c1"  name="course_package"  datatype="*" nullmsg="请选择费用是否交齐"> -->
                                    <!-- <label for="c1">已交齐</label> -->
                                    <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->

                                    <!-- <input class="magic-checkbox" type="radio" name="pay_status" value="0" id="c2"> -->
                                    <!-- <label for="c2">未交齐</label> -->

                                <!-- </div> -->

                                <!-- <div class="col-sm-3" id="some_cash" style="display:none;"> -->
                                    <!-- <input type="number" class="form-control"  placeholder='已收金额' name="some_cash" style="margin-left: -80px;" > -->
                                <!-- </div> -->
                        <!-- </div> -->


                        <div class="hr-line-dashed"></div>


                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-5">
                                <button class="btn btn-primary"  onclick="return confirm('确定提交?提交后不可修改。')" type="submit" id="save">保存</button>
                            </div>
                        </div>
                        <span style="font-size:6px;">&nbsp;&nbsp;&nbsp;*&nbsp;不填用“-”代替</span>


                    </form>

                </div>
            </div>
        </div>
    </div>
</div>



<script src="__PUBLIC__/H/js/bootstrap.min.js?v=3.3.5"></script>
<script src="__PUBLIC__/H/js/content.min.js?v=1.0.0"></script>
<script src="__PUBLIC__/H/js/plugins/iCheck/icheck.min.js"></script>
<script src="__PUBLIC__/laydate/laydate.js"></script>

<script src="__PUBLIC__/Validform/Validform_v5.3.2_min.js"></script>

<script src="__PUBLIC__/plugins/layer/layer.js"></script>

<!--身份证识别出生日期-->
<!--<script src="__PUBLIC__/js/plugins/js/idcardByBirthday.js"></script>-->

<!--检测照片规格-->
<script src="__PUBLIC__/js/plugins/js/checkImg.js"></script>

<script>
    //页面返回时清空考区
    $("#city").val("广州市");

    //初始化Validform
    $(".demoform").Validform();

    //    $(document).ready(function(){
        $(document).ready(function () {
            $(".i-checks").iCheck({checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green",})
        });

        $("#save").click(function(){

        });

        //根据费用是否交齐，显示输入框
//        $("input:radio[name='pay_status']").change(function (){
//            var pay_status=$(this).val();
//            if (pay_status==0){
//                $("#some_cash").removeAttr("style","display:none;");
//            }else {
//                $("#some_cash").attr("style","display:none;");
//            }
//            //alert(pay_status);
//        });

        //考区联动
        $('#city').change(function(){
            $.ajax({
               type:"post",
                url:"{:U('TestPlace/postArea')}",
                data:'place_id='+$('#city').val(),
                dataType:'json',
                success:function(data){
//                    console.log(data);
                    $("#area").html(data);
                }
            });
        });

    //是否在校生，显示对应文本框
//    $("input:radio[name='in_school']").change(function (){
//        var in_school = $(this).val();
//        alert(in_school);
//        if (in_school == 1){
//            alert(in_school);
//            $("#yesinschool").hide();
//        }
//    });


//    });

</script>

</body>

</html>