<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>普通话学生报名表录入</title>

    <link rel="shortcut icon" href="favicon.ico">
    <link href="__PUBLIC__/H/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="__PUBLIC__/H/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/H/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__PUBLIC__/H/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/H/css/style.min.css?v=4.0.0" rel="stylesheet">
    <link href="__PUBLIC__/magic-check/magic-check.css" rel="stylesheet">
    <link href="__PUBLIC__/Validform/style.css" rel="stylesheet">

	<script src="__PUBLIC__/H/js/jquery.min.js?v=2.1.4"></script>

    <!--点提交新页面打开-->
    <!--<base target="_blank">-->



    <style>
        .laydate-icon {
            width: 242px;
            height: 30px;
        }
        .magic-radio + label,
        .magic-checkbox + label {
            display:inline;
        }
        .magic-checkbox:checked + label:before {
            border: #3e97eb;
            background: #2E8B57;
        }
        .laydate_body .laydate_y .laydate_yms ul li{
            width: 58px;
        }
    </style>

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">


    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>普通话报名表</h5>

                    <!--<div class="ibox-tools">-->
                        <!--<a class="collapse-link">-->
                            <!--<i class="fa fa-chevron-up"></i>-->
                        <!--</a>-->
                        <!--<a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">-->
                            <!--<i class="fa fa-wrench"></i>-->
                        <!--</a>-->
                        <!--<ul class="dropdown-menu dropdown-user">-->
                            <!--<li><a href="form_basic.html#">选项1</a>-->
                            <!--</li>-->
                            <!--<li><a href="form_basic.html#">选项2</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                        <!--<a class="close-link">-->
                            <!--<i class="fa fa-times"></i>-->
                        <!--</a>-->
                    <!--</div>-->

                </div>
                <div class="ibox-content">

                    <form  class="form-horizontal demoform"  action="{:U('Admin/Mandarin/postfrom')}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">姓名</label>

                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="name" datatype="*" >
                            </div>

                            <label class="col-sm-2 control-label">性别</label>

                            <div class="col-sm-3">
                                <select class="form-control m-b" name="sex">
                                    <option value="0">男</option>
                                    <option value="1">女</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">民族</label>

                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="nation"  datatype="*">
                            </div>

                            <label class="col-sm-2 control-label">政治面貌</label>

                            <div class="col-sm-3">
                                <select class="form-control m-b" name="face">
                                    <option value="1">团员</option>
                                    <option value="2">预备党员</option>
                                    <option value="3">党员</option>
                                    <option value="4">群众</option>
                                    <option value="5">其他</option>
                                </select>
                                <!--<input type="text" class="form-control" name="face"  datatype="*">-->
                            </div>
                        </div>

                       <!--  <div class="form-group">
                            <label class="col-sm-2 control-label">籍贯</label>

                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="hometown" datatype="*">
                            </div>

                            <label class="col-sm-2 control-label">户口所在地</label>

                            <div class="col-sm-3">
                                <input type="text" placeholder='___省___市___区（县）' class="form-control"
                                       name="hukou_address" datatype="*">
                            </div>
                        </div> -->

                        <div class="form-group">
                            <label class="col-sm-2 control-label">手机号码</label>

                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="tel" datatype="m&*" errormsg="请输入正确的手机号码格式">
                            </div>

                            <label class="col-sm-2 control-label">QQ邮箱</label>

                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="email" datatype="e&*"  errormsg="请输入正确的QQ邮箱">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">身份证号码</label>

                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="idcard" id="idcard"  datatype="*">
                            </div>

                            <label class="col-sm-2 control-label">出生年月</label>

                            <div class="col-sm-3">
                                <div style="width:970px; margin:0px auto;">
                                    <input placeholder=" 请输入日期" class="laydate-icon" style=" width:242px; height:30px;"
                                           onclick="laydate()" name="birthday" id="birthday" datatype="*">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">学历层次</label>

                            <div class="col-sm-5 radio i-checks">
                                <label>
                                    <input type="radio" value="4" name="education"datatype="*" nullmsg="请选择学历层次" class="education"><i></i> 中专</label>
                                <label>
                                    <input type="radio" value="1" name="education"  class="education"><i></i> 大专</label>
                                <label>
                                    <input type="radio" value="2" name="education" class="education"><i></i> 本科</label>
                                <label>
                                    <input type="radio" value="3" name="education" class="education"> <i></i> 研究生</label>
                            </div>

                            
                        </div>

                        <div class="form-group">

                            <!-- <label class="col-sm-2 control-label">专业名称</label>

                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="major" datatype="*">
                            </div> -->

                            <label class="col-sm-2 control-label">微信号</label>

                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="wechar" datatype="s&*"  nullmsg="请输入微信号">
                            </div>

                            <label class="col-sm-2 control-label">所在单位</label>

                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="unit" datatype="*">
                            </div>
                        </div>


                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-2 control-label">毕业院校</label>-->

                            <!--<div class="col-sm-3">-->
                                <!--<input type="text" class="form-control" name="school" datatype="*">-->
                            <!--</div>-->

                            <!--<label class="col-sm-2 control-label">学历层次</label>-->

                            <!--<div class="col-sm-5 radio i-checks">-->
                                <!--<label>-->
                                    <!--<input type="radio" value="1" name="education" datatype="*" nullmsg="请选择学历层次"> <i></i> 高中</label>-->
                                <!--<label>-->
                                    <!--<input type="radio" value="2" name="education"> <i></i> 中专</label>-->
                                <!--<label>-->
                                    <!--<input type="radio" value="3" name="education"> <i></i> 专科</label>-->
                                <!--<label>-->
                                    <!--<input type="radio" value="3" name="education"> <i></i> 本科</label>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-2 control-label">所在单位</label>-->

                            <!--<div class="col-sm-3">-->
                                <!--<input type="text"  class="form-control" name="unit"  datatype="*">-->
                            <!--</div>-->

                            <!--<label class="col-sm-2 control-label">单位性质</label>-->

                            <!--<div class="col-sm-3">-->
                                <!--<input type="text"  class="form-control" name="unit_property"  datatype="*">-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-2 control-label">考生类别</label>-->

                            <!--<div class="col-sm-3">-->
                                <!--<input type="text" class="form-control" name="stu_category" datatype="*">-->
                            <!--</div>-->

                            <!--<label class="col-sm-2 control-label">居住地区</label>-->

                            <!--<div class="col-sm-3">-->
                                <!--<input type="text" class="form-control" name="live" datatype="*">-->
                            <!--</div>-->
                        <!--</div>-->


                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-2 control-label">报考类别</label>-->

                            <!--<div class="col-sm-3">-->
                                <!--<input type="text" class="form-control" name="apply_category" datatype="*">-->
                            <!--</div>-->

                            <!--<label class="col-sm-2 control-label">申报语种</label>-->

                            <!--<div class="col-sm-2 radio i-checks">-->
                                <!--<label>-->
                                    <!--<input type="radio" value="1" name="languages"  datatype="*" nullmsg="请选择语种"> <i></i> 中文</label>-->
                                <!--<label>-->
                                    <!--<input type="radio" value="2" name="languages"> <i></i> 英文</label>-->
                            <!--</div>-->

                        <!--</div>-->

                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-2 control-label">原准考证号码</label>-->

                            <!--<div class="col-sm-3">-->
                                <!--<input type="text" class="form-control" name="old_num" datatype="*">-->
                            <!--</div>-->

                            <!--<label class="col-sm-2 control-label">资格证号码</label>-->

                            <!--<div class="col-sm-3">-->
                                <!--<input type="text" class="form-control" name="certificate_num" datatype="*">-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-2 control-label">备注</label>-->

                            <!--<div class="col-sm-8">-->
                                <!--<input type="text" class="form-control" name="remarks" datatype="*">-->
                            <!--</div>-->

                        <!--</div>-->

                        <div class="form-group">
                            <label class="col-sm-2 control-label">紧急联系人</label>

                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="emergency_contact" datatype="*">
                            </div>

                            <label class="col-sm-2 control-label">紧急联系人电话</label>

                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="emergency_tel" datatype="*">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">学校地址</label>

                            <div class="col-sm-8">
                                <input type="text" placeholder='___市___区______' class="form-control" name="school_address" datatype="*">
                            </div>

                            <!--<label class="col-sm-2 control-label">邮编</label>-->

                            <!--<div class="col-sm-2">-->
                                <!--<input type="text" class="form-control" name="zip_code" datatype="*">-->
                            <!--</div>-->
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <!--<label class="col-sm-2 control-label">考区</label>-->

                            <!--<div class="col-sm-3">-->
                                <!--&lt;!&ndash; 城市 &ndash;&gt;-->
                                <!--<select  class="form-control m-b" name="place_city_id" id="city">-->
                                    <!--<option>&#45;&#45;请选择市&#45;&#45;</option>-->
                                    <!--<foreach name="city" item="v">-->
                                        <!--<option value="{$v.place_id}"  >{$v.place_name}</option>-->
                                    <!--</foreach>-->
                                <!--</select>-->
                                <!--&lt;!&ndash; 区县 &ndash;&gt;-->
                                <!--<select  class="form-control m-b" name="place_area_id" id="area">-->
                                    <!--<option datatype="s" nullmsg="请选择考区"></option>-->
                                <!--</select>-->
                            <!--</div>-->

                            <label class="col-sm-2 control-label">考试时间</label>

                            <div class="col-sm-3">
                                <select class="form-control m-b" name="test_time">
                                    <foreach name="testTime" item="vo">
                                        <option value="{$vo.thtt_time}">{$vo.thtt_time}</option>
                                    </foreach>

                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <!--<label class="col-sm-2 control-label">选择教的是</label>-->

                            <!--<div class="col-sm-3">-->
                                <!--<select class="form-control m-b" name="course">-->
                                    <!--<foreach name="course" item="vo">-->
                                        <!--<option value="{$vo.cousr_name}">{$vo.cousr_name}</option>-->
                                    <!--</foreach>-->
                                <!--</select>-->
                            <!--</div>-->

                            <label class="col-sm-2 control-label">考生照片</label>
                            <div class="col-sm-10">
                                <input type="file" name="pic" id="imgurl" onchange="photoCheck(/\.(jpg|jpeg)$/,80,0,0)"/>
                                <div style="padding: 5px">
                                    照片要求：彩色白底免冠证件照；不允许带帽子、头巾、发带、墨镜；不大于80KB，.jpg/.jpeg文件格式
                                </div>

                                <img src="" id="imgShow" style="width:50px"></img>
                            </div>

                        </div>
						
						<div class="form-group">
                            <label class="col-sm-2 control-label">考生身份证照片</label>
                            <div class="col-sm-10">
                                <input type="file" name="idpic" id="idImgurl" onchange="photoIdPicCheck(/\.(jpg|jpeg)$/,400,0,0)"/>
                                <div style="padding: 5px">
                                    照片要求：照片清晰，不大于400KB，.jpg/.jpeg文件格式
                                </div>

                                <img src="" id="idImgShow" style="width:50px"></img>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">班型选择</label>

                            <div class="col-sm-10 form-group radio i-checks">
                                <foreach name="TeaCoursePackage" item="vo">
                                    <label>
                                            <input type="radio" value="{$vo.id}" name="course_package"  datatype="*" nullmsg="请选择班型"> <i></i>
                                        {$vo.name}</label>
                                </foreach>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">特殊情况备注</label>

                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="remark" datatype="*">
                            </div>
                        </div>
						
						
						
						
						<!-- 费用是否交齐等 财务-->
						<include file="Public/cost" />
						
						
						<!-- <div class="form-group"> -->
                                <!-- <label class="col-sm-2 control-label">费用是否交齐</label> -->

                                <!-- <div class="col-sm-3 form-group radio"> -->
                                    <!-- <input class="magic-checkbox" type="radio" name="pay_status" value="1" id="c1"  name="course_package"  datatype="*" nullmsg="请选择费用是否交齐"> -->
                                    <!-- <label for="c1">已交齐</label> -->
                                    <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->

                                    <!-- <input class="magic-checkbox" type="radio" name="pay_status" value="0" id="c2"> -->
                                    <!-- <label for="c2">未交齐</label> -->

                                <!-- </div> -->

                                <!-- <div class="col-sm-3" id="some_cash" style="display:none;"> -->
                                    <!-- <input type="number" class="form-control"  placeholder='已收金额' name="some_cash" style="margin-left: -80px;" > -->
                                <!-- </div> -->
                        <!-- </div> -->


                        <div class="hr-line-dashed"></div>


                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-5">
                                <button class="btn btn-primary"  onclick="return confirm('确定提交?提交后不可修改。')" type="submit" id="save">保存</button>
                            </div>
                        </div>
                        <span style="font-size:6px;">&nbsp;&nbsp;&nbsp;*&nbsp;不填用“-”代替</span>


                    </form>

                </div>
            </div>
        </div>
    </div>
</div>



<script src="__PUBLIC__/H/js/bootstrap.min.js?v=3.3.5"></script>
<script src="__PUBLIC__/H/js/content.min.js?v=1.0.0"></script>
<script src="__PUBLIC__/H/js/plugins/iCheck/icheck.min.js"></script>
<script src="__PUBLIC__/laydate/laydate.js"></script>

<script src="__PUBLIC__/Validform/Validform_v5.3.2_min.js"></script>

<script src="__PUBLIC__/plugins/layer/layer.js"></script>

<!--身份证识别出生日期-->
<script src="__PUBLIC__/js/plugins/js/idcardByBirthday.js"></script>
<!--检测照片规格-->
<script src="__PUBLIC__/js/plugins/js/checkImg.js"></script>


<script>
    //页面返回时清空考区
    $("#city").val("广州市");

    //初始化Validform
    $(".demoform").Validform();

    //    $(document).ready(function(){
        $(document).ready(function () {
            $(".i-checks").iCheck({checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green",})
        });

        $("#save").click(function(){

        });

        //根据费用是否交齐，显示输入框
//        $("input:radio[name='pay_status']").change(function (){
//            var pay_status=$(this).val();
//            if (pay_status==0){
//                $("#some_cash").removeAttr("style","display:none;");
//            }else {
//                $("#some_cash").attr("style","display:none;");
//            }
//            //alert(pay_status);
//        });

        //考区联动
        $('#city').change(function(){
            $.ajax({
               type:"post",
                url:"{:U('TestPlace/postArea')}",
                data:'place_id='+$('#city').val(),
                dataType:'json',
                success:function(data){
//                    console.log(data);
                    $("#area").html(data);
                }
            });
        });

    //是否在校生，显示对应文本框
//    $("input:radio[name='in_school']").change(function (){
//        var in_school = $(this).val();
//        alert(in_school);
//        if (in_school == 1){
//            alert(in_school);
//            $("#yesinschool").hide();
//        }
//    });


//    });

</script>

</body>

</html>