<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>卖舍友设置</title>

    <link rel="shortcut icon" href="favicon.ico">
    <link href="__PUBLIC__/H/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="__PUBLIC__/H/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/H/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__PUBLIC__/H/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/H/css/style.min.css?v=4.0.0" rel="stylesheet">
    <link href="__PUBLIC__/magic-check/magic-check.css" rel="stylesheet">
    <link href="__PUBLIC__/Validform/style.css" rel="stylesheet">

    <script src="__PUBLIC__/H/js/jquery.min.js?v=2.1.4"></script>

    <!--点提交新页面打开-->
    <!--<base target="_blank">-->


</head>

<body>

<foreach name="list" item="vo">


    <section style="white-space: normal;">
        <section class="" powered-by="xiumi.us">
            <section>
                <section class="" powered-by="xiumi.us">
                    <section style="color: rgb(62, 62, 62);">
                        <section class="" powered-by="xiumi.us">
                            <section class="" style="margin-top: 10px;margin-bottom: 10px;text-align: center;">
                                
                                <section class="" style="padding: 5px 12px;border-radius: 4px;color: rgb(255, 255, 255);font-size: 1em;font-family: inherit;font-weight: inherit;text-decoration: inherit;display: inline-block;border-color: rgb(183, 184, 184);background-color: rgb(95, 170, 255);"><p class=""><strong>{$vo.rm_id}</strong></p></section>

                                <section class=""
                                         style="margin-top: -1em;padding: 20px 10px 10px;border-width: 1px;border-style: solid;border-color: rgb(204, 204, 204);box-shadow: rgb(165, 165, 165) 4px 4px 2px;background-color: rgb(254, 255, 255);">
                                    <section class="" powered-by="xiumi.us">
                                        <section class="">
                                            <section class="" style="text-align: left;">

                                                <if condition="$vo.rm_img_url neq null">
                                                <p style="text-align: center;"><img data-s="300,640" data-type="png"
                                                        data-src="__PUBLIC__/{$vo.rm_img_url}"
                                                        style="width: auto !important; height: auto !important; visibility: visible !important;"
                                                        class="" data-ratio="0.7515625" data-w="640"
                                                        src="__PUBLIC__/{$vo.rm_img_url}"
                                                        data-fail="0"></p>
                                                </if>

                                                <p style="max-width: 100%;min-height: 1em;box-sizing: border-box !important;word-wrap: break-word !important;"><strong><span style="max-width: 100%;font-size: 14px;letter-spacing: 0.5px;box-sizing: border-box !important;word-wrap: break-word !important;">昵称：</span></strong><span style="font-size: 14px;color: rgb(136, 136, 136);"><span style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Nimbus Sans L', -apple-system, BlinkMacSystemFont, 'Liberation Sans', 'Hiragino Sans GB', 'Microsoft YaHei', 'Microsoft JhengHei', 'Source Han Sans CN', 'Source Han Sans SC', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti', SimSun, 'WenQuanYi Zen Hei Sharp', sans-serif;line-height: 20px;"><span style=";"><span style=";">{$vo.rm_nickname}</span></span></span></span></p>
                                                </p>

                                                <p style="max-width: 100%;min-height: 1em;box-sizing: border-box !important;word-wrap: break-word !important;"><strong><span style="max-width: 100%;font-size: 14px;letter-spacing: 0.5px;box-sizing: border-box !important;word-wrap: break-word !important;">年级专业班级：</span></strong><span style="font-size: 14px;color: rgb(136, 136, 136);"><span style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Nimbus Sans L', -apple-system, BlinkMacSystemFont, 'Liberation Sans', 'Hiragino Sans GB', 'Microsoft YaHei', 'Microsoft JhengHei', 'Source Han Sans CN', 'Source Han Sans SC', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti', SimSun, 'WenQuanYi Zen Hei Sharp', sans-serif;line-height: 20px;"><span style=";"><span style=";">{$vo.rm_grade}</span></span></span></span></p>
                                                </p>

                                                <p style="max-width: 100%;min-height: 1em;box-sizing: border-box !important;word-wrap: break-word !important;"><strong><span style="max-width: 100%;font-size: 14px;letter-spacing: 0.5px;box-sizing: border-box !important;word-wrap: break-word !important;">介绍：</span></strong><span style="font-size: 14px;color: rgb(136, 136, 136);"><span style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Nimbus Sans L', -apple-system, BlinkMacSystemFont, 'Liberation Sans', 'Hiragino Sans GB', 'Microsoft YaHei', 'Microsoft JhengHei', 'Source Han Sans CN', 'Source Han Sans SC', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti', SimSun, 'WenQuanYi Zen Hei Sharp', sans-serif;line-height: 20px;"><span style=";"><span style=";">{$vo.rm_introduce}</span></span></span></span></p>
                                                </p>

                                                <p style="max-width: 100%;min-height: 1em;box-sizing: border-box !important;word-wrap: break-word !important;"><strong><span style="max-width: 100%;font-size: 14px;letter-spacing: 0.5px;box-sizing: border-box !important;word-wrap: break-word !important;">兴趣和交友标准：</span></strong><span style="font-size: 14px;color: rgb(136, 136, 136);"><span style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Nimbus Sans L', -apple-system, BlinkMacSystemFont, 'Liberation Sans', 'Hiragino Sans GB', 'Microsoft YaHei', 'Microsoft JhengHei', 'Source Han Sans CN', 'Source Han Sans SC', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti', SimSun, 'WenQuanYi Zen Hei Sharp', sans-serif;line-height: 20px;"><span style=";"><span style=";">{$vo.rm_interest}</span></span></span></span></p>
                                                </p>


                                                
                                            </section>
                                        </section>
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                    <p style="color: rgb(62, 62, 62);text-align: center;"><br></p></section>
            </section>
        </section>
    </section>


</foreach>


<script src="__PUBLIC__/H/js/bootstrap.min.js?v=3.3.5"></script>
<script src="__PUBLIC__/H/js/content.min.js?v=1.0.0"></script>
<script src="__PUBLIC__/H/js/plugins/iCheck/icheck.min.js"></script>
<script src="__PUBLIC__/laydate/laydate.js"></script>

<script src="__PUBLIC__/Validform/Validform_v5.3.2_min.js"></script>

<script src="__PUBLIC__/plugins/layer/layer.js"></script>

<!--身份证识别出生日期-->
<script src="__PUBLIC__/js/plugins/js/idcardByBirthday.js"></script>
<!--检测照片规格-->
<script src="__PUBLIC__/js/plugins/js/checkImg.js"></script>


<script>
    //初始化Validform
    $(".demoform").Validform();


    function copyUrl() {
        var Url2 = document.getElementById("com_url");
        Url2.select(); // 选择对象
        document.execCommand("Copy"); // 执行浏览器复制命令
        layer.alert("已复制地址，可贴粘。");
    }
</script>

</body>

</html>