<!DOCTYPE html>
<html>
<head>
    <title>系统登陆</title>
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">-->
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <link href="__PUBLIC__/css/plugins/login/css/style.css" rel='stylesheet' type='text/css'/>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/plugins/js/login.js"></script>
    <script src="__PUBLIC__/plugins/layer/layer.js"></script>

</head>

<style>
    #msg{color: crimson; }
</style>

<body>

<!--SIGN UP-->
<h1>微信平台</h1>

<div class="login-form">


    <div class="clear"></div>
    <div class="avtar">
        <img src="__PUBLIC__/css/plugins/login/img/avtar.png"/>
    </div>
    <form id="login" action=""  method="post" name="login">
        <input type="text" id="tel" class="text" name="tel"  required="required"  placeholder='请输入手机号码'>

        <div class="key">
            <input type="password" id="password" name="password" required="required"  placeholder='请输入密码'>
        </div>
       <div id="msg"></div>
        <br>
        <div class="signin">
            <input type="submit" value="登陆">
        </div>
    </form>
</div>
<div class="copy-rights">
    <p>翰墨教育集团</p>
</div>

</body>
</html>